@media all and (width <= 1440px) {
    .footer {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}

@media all and (width <= 1150px) {
    .footer {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media all and (width <= 1050px) {
    .footer {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
